# MultiIndex and Index Hirearchy

In [5]:
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed(101)

In [6]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [7]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [8]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])
df

             A         B
G1 1  2.706850  0.628133
   2  0.907969  0.503826
   3  0.651118 -0.319318
G2 1 -0.848077  0.605965
   2 -2.018168  0.740122
   3  0.528813 -0.589001

In [11]:
df.loc['G1'].loc[[1,2]]

          A         B
1  2.706850  0.628133
2  0.907969  0.503826

In [12]:
df.index.names

FrozenList([None, None])

In [13]:
df.index.names=['GROUPS','NUMBERS']

In [14]:
df

                       A         B
GROUPS NUMBERS
G1     1        2.706850  0.628133
       2        0.907969  0.503826
       3        0.651118 -0.319318
G2     1       -0.848077  0.605965
       2       -2.018168  0.740122
       3        0.528813 -0.589001

In [15]:
df.loc['G1'].loc[3]['B']

-0.31931804459303326

In [16]:
#crosssection
#xs
#will be used while we have multi levelindex
df.xs('G1')

                A         B
NUMBERS
1        2.706850  0.628133
2        0.907969  0.503826
3        0.651118 -0.319318

In [17]:
df.xs(1,level='NUMBERS')

               A         B
GROUPS
G1      2.706850  0.628133
G2     -0.848077  0.605965